body {
	font-family: 'Lora', serif;
	background-color: #eee;
}

li {
	list-style: none;
}




/**************************************************
				Header
***************************************************/

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}


@media screen and (max-device-width: 800px) {
  html { background: url('../img/mobile-hero.jpg') #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}












.big-header {
	position: fixed;
	width:100%;
	z-index: 1;
	background-color: #ddd;
	-webkit-box-shadow:0px 1px 15px #444;
	-moz-box-shadow:0px 1px 15px #444;
 	box-shadow:0px 1px 15px #444;
}

.navbar-toggle {
	margin-top: 45px;
}

.cust-header {
	text-align: center;
}

.cust-header h2 {
	margin-top: 130px;
	font-size: 1.4em;
}

.cust-header img {
	margin-top: 10px;
}

#landinghero {
	background: none;
	-webkit-box-shadow:0px 0px 0px #444;
	-moz-box-shadow:0px 0px 0px #444;
 	box-shadow:0px 0px 0px #444;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: #000;
}
#custom-bootstrap-menu.navbar-default {
    
    font-size: 14px;
    background-image: none;
    background-color: #ddd;
    border-width: 0px;
    border-radius: 0px;
}
.navbar-header {
	height: 130px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    text-align: right;
    color: rgba(119, 119, 119, 1);
    background-color: rgba(238, 238, 238, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #dddddd;
}

#mobile-logo {
	height: 70px;
	margin-left: 35px;
}

/**************************************************
				Album Page
***************************************************/


h1,h2 {
	text-align: center;
}

#columnone {
	margin: 220px 0 0 50px;
	position: fixed;
}

#columntwo {
	margin-top: 200px;
}

.logo {
	text-align: center;
}

.logo h4 {
	margin-top: 20px;

}

.stream-logo  {
	margin: 0 2%;
}


@media (max-width: 768px) {
	#columntwo {
		margin-top: 0px;
	}
}





.home-info {
	background-color: #eee;
}






